<!DOCTYPE html>
<!--
    login Page
    Author: 김태산
    Version: 0.1.1
    Since: 2023-05-18 오후 4:20
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
login up
<label>
    이메일:
    <input id="email" type="email" name="email">
</label>
<label>
    비밀번호:
    <input id="password" type="password" name="password">
</label>
<button id="button" type="button">확인</button>
<script>
    document.getElementById("button").addEventListener("click", function () {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:9999/api/v1/login', true); // 요청 설정
        xhr.setRequestHeader('Content-Type', 'application/json'); // 요청 헤더 설정
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) { // 요청이 완료되었을 때
                if (xhr.status === 200) { // 응답 상태 코드가 200인 경우 (성공)
                    console.log(xhr.getResponseHeader('Location'));
                    window.location.href = xhr.getResponseHeader('Location');
                } else { // 응답 상태 코드가 200이 아닌 경우 (실패)
                    console.error('Request failed. Status: ' + xhr.status);
                    window.location.href = xhr.getResponseHeader('Location');
                }
            }
        };
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        var data = {
            "email": email,
            "password": password
        }
        xhr.send(JSON.stringify(data)); // 요청 전송
    });


</script>
</body>
</html>