<!DOCTYPE html>
<!--
    sign up
    Author: 김태산
    Version: 0.1.1
    Since: 2023-05-18 오후 4:23
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
register
<label>
    이메일:
    <input id="email" type="email" name="email">
</label>
<label>
    이름:
    <input id="name" type="text" name="name">
</label>
<label>
    연락처:
    <input id="tel" type="tel" name="tel">
</label>
<label>
    비밀번호:
    <input id="password" type="password" name="password">
</label>
<button id="button" type="submit">확인</button>
<script>
    document.getElementById("button").addEventListener("click", function () {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:9999/api/v1/users', true); // 요청 설정
        xhr.setRequestHeader('Content-Type', 'application/json'); // 요청 헤더 설정
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) { // 요청이 완료되었을 때
                if (xhr.status === 200) { // 응답 상태 코드가 200인 경우 (성공)
                } else { // 응답 상태 코드가 200이 아닌 경우 (실패)
                    console.error('Request failed. Status: ' + xhr.status);
                }
            }
        };
        const email = document.getElementById('email').value;
        const name = document.getElementById('name').value;
        const tel = document.getElementById('tel').value;
        const password = document.getElementById('password').value;
        var data = {
            "email": email,
            "name": name,
            "tel": tel,
            "password": password
        }
        xhr.send(JSON.stringify(data)); // 요청 전송
    });


</script>
</body>
</html>